#main{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    position: absolute;
    top: 50vh;
    left: 50%;
    box-shadow: 0 0 0 0 black; 
    background-color: gray;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 50vh;
    border-radius: 30px;
    padding: 0;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6vh ;
    margin-bottom: 3vh;
    width: 30vw;
    height: 10vh;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
    gap: 1vh 2.5vh;
    margin: 5%;
    width: 75%;
    height: 30vh;
    padding: 15px;
    margin-bottom: -150px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 5vh;
    margin-bottom: -40px;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(96, 96, 96);
    transition: all 0.2s ease;
    margin-bottom: 0; 
}

.button:active{
    background-color: rgb(116, 116, 116);
    transform: scale(0.7);
}

#resultField{
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    height: 3vh;
    margin: 10px;
    text-wrap: wrap;
}

input{
    width: 5vw;
    margin: 5px;
}